{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="homepage">
    <div class="overlap">
    <div class="overlap-group">
        <div class="text-wrapper">Learning Path Recommender</div>
        <div class="rectangle"></div>
        <div class="div"></div>
        <div class="rectangle-2"></div>
        <p class="p">figure showing skills to learn prompt</p>
        <p class="text-wrapper-2">figure showing learned skills prompt</p>
        <p class="text-wrapper-3">figure showing recommended learning path</p>
    </div>
    <img class="arrow" src="img/arrow-1.svg" />
    <img class="img" src="img/arrow-2.svg" />
    </div>
    <button class="start-button"><div class="text-wrapper-4">Get started</div></button>
    <div class="path-button"><div class="text-wrapper-5">My learning paths</div></div>
    <div class="text-wrapper-6">My account</div>
    <div class="text-wrapper-7">My skills</div>
</div>

{% endblock %}