{% extends 'base.html' %}

{% block content %}
<style>
    #loading-dots {
        display: inline-block;
        width: 30px; /* Adjust the width as needed */
        text-align: left;
    }

    .container-fluid {
            background-color: #ffffff;
    }

    .content-background {
        background: url('{{ url_for('static', filename='images/learning_person.gif') }}') no-repeat center bottom;
        background-size: 55%;
    }

    .content-container {
        min-height: calc(100vh - 3rem);; /* Full height */
        display: flex;
        flex-direction: column;
    }

    .loading-section {
        margin: auto auto; /* Centering the section */
        height: 15rem; /* Fixed height to accommodate progress bar and button */
    }

    .spinner {
        margin: 2rem auto; /* Centers the spinner */
    }

    .btn-results {
        font-size: 1.5rem; /* Larger text for the button */
        padding: 0.75rem 1.5rem; /* Bigger button */
        border-radius: 2rem; /* Rounded borders for the button */
        margin: 2rem auto; /* Centers the progress bar */
        display: none; /* Initially hide the button */
    }
</style>

<div class="container mt-5 content-background content-container">
    <div class="loading-section">
        <h2 id="loading-message" class="text-center">
            Preparing your personalized course recommendations<span id="loading-dots"></span>
        </h2>
        <button id="resultsButton" class="btn btn-success btn-lg btn-results" onclick="window.location.href = '{{ url_for('output_page') }}';">
            Go to Results Page
        </button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const loadingMessage = document.getElementById('loading-message');
        const resultsButton = document.getElementById('resultsButton');

        fetch('/process_input', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                console.log("Processing completed", data.courses);
                loadingMessage.innerText = "Your personalized course recommendations are ready!";
                resultsButton.style.display = 'block'; // Show the results button
            }
        })
        .catch(error => {
            console.error("Error: Unable to process input", error);
            loadingMessage.innerText = "An error occurred while processing your input. Please try again later.";
        });
    });

    const loadingDots = document.getElementById('loading-dots');
    let dotCount = 0;

    const updateDots = () => {
        let dots = '.'.repeat(dotCount % 4);
        loadingDots.textContent = dots;
        dotCount++;
    };

    setInterval(updateDots, 500);
</script>

{% endblock %}
