{% extends "base.html" %}

{% block title %}Recommendation{% endblock %}

{% block content %}
<div class="learning-path">
    <div class="path-button"><div class="text-wrapper">My learning paths</div></div>
    <div class="overlap">
      <div class="overlap-group">
        <div class="resource-button"><div class="div">Resources</div></div>
        <div class="div-wrapper"><div class="div">Resources</div></div>
        <div class="rectangle"></div>
        <img class="image" src="img/image-19.png" />
        <div class="rectangle-2"></div>
        <img class="img" src="img/image-20.png" />
        <img class="image-2" src="img/image-22.png" />
        <p class="p">Some visuals and text depicting Basic Java skills</p>
        <p class="text-wrapper-2">You need to grasp the basics of Java in order to blah blah blah blah blah</p>
      </div>
      <img class="arrow" src="img/arrow-2.svg" />
      <img class="arrow-2" src="img/arrow-3.svg" />
    </div>
    <div class="resource-button-2"><div class="div">Resources</div></div>
    <div class="resource-button-3"><div class="div">Resources</div></div>
    <div class="text-wrapper-3">My account</div>
    <div class="text-wrapper-4">My skills</div>
    <div class="frame">
      <p class="text-wrapper-5">I want to learn how to create a cloud application using SpringBoot</p>
    </div>
    <div class="text-wrapper-6">Goal</div>
    <div class="text-wrapper-7">Steps</div>
    <div class="image-wrapper"><img class="image" src="img/image-21.png" /></div>
    <div class="rectangle-3"></div>
    <img class="image-3" src="img/image-23.png" />
    <img class="arrow-3" src="img/arrow-4.svg" />
  </div>
{% endblock %}